<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <p class="mb-0">
                    <a class="text-muted" href="https://www.linkedin.com/in/adson-sa/" target="_blank"><strong>Adson Sá</strong></a> &copy;
                </p>
            </div>
            <div class="col-6 text-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://github.com/Adson-C/Front_End_Gasto/" target="_blank">GitHub do projeto</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" class="text-muted" target="_blank">Deus seja Louvado</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>